<link rel="stylesheet" href="app.component.css">
<div id="center"> 
    <h1>Вычисление логических выражений</h1> 
    <select [(ngModel)]="operator">
      <option value="=">=</option>
      <option value="!=">НЕ</option>
    </select>
    <input [(ngModel)]="firstOperand" type="number"> 
    <select [(ngModel)]="operator_2"> 
      <option value="&&">И</option> 
      <option value="||">ИЛИ</option>  
    </select> 
    <input [(ngModel)]="secondOperand" type="number"> 
    <input (click)="doCalc()" type="submit" value="Подтвердить"> 
    <p>Результат {{ result }}</p> 
    <p>Текст ошибки: {{ errorMessage }}</p> 
</div>