.div_calc {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    justify-content: center;
}

@media (min-width: 300px) and (max-width: 1500px){
    .div_calc {
        text-align: center;
        width: auto;
    }
}
